{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block content %}
<section class="section-login t-flex-1 t-flex t-items-center t-justify-center">
    <div class="card t-w-full t-max-w-screen-md mx-4">
        <div class="card-header">
            <i class="fas fa-lock-open"></i> 비밀번호 재설정
        </div>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="<i class='fas fa-lock-open'></i> 비밀번호 재설정" %}
            </form>
        </div>
    </div>
</section>

{% endblock %}